body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px; /* Aumenta o tamanho do texto */
  background-color: #f0f0f0; /* Cor de fundo suave */
}

header {
  background: linear-gradient(to left, rgb(255, 255, 255), rgb(11, 68, 87), rgb(0, 0, 0));
  text-align: center;
  color: #ffffff; /* Texto branco para contrastar melhor */
  padding: 80px; /* Aumenta o espaçamento */
  font-size: 30px; /* Aumenta o tamanho do texto no header */
  border-bottom: 25px solid rgb(11, 68, 87); /* Detalhe visual */
}
nav a{

  text-decoration: none;
  color: rgb(94, 167, 241);
}

footer { 
  background-color: rgb(11, 68, 87);
  color: rgb(255, 255, 255);
  margin-top: 358px;
text-align: center;

}